{% include 'base.html.twig' %}
{% block body %}

    <h4>Bienvenu:   {{ data.nom }} {{ data.prenom }}<br></h4>
    <h4>Votre adresse email: {{ data.email }}<br></h4>
    <h4>Telephone: {{ data.tel }}</h4>

{% endblock %}